# Base de données MongoDB
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe
MONGODB_URI=mongodb://votre_utilisateur:votre_mot_de_passe@mongodb:27017/pokefinder?authSource=admin

# Backend
SESSION_SECRET=une_chaine_secrete_aleatoire

# Frontend
VITE_API_URL=http://localhost:3000