.pokedex-tabs {
  padding: 10px;
  background: rgb(28, 100, 162);

  .MuiTabs-root {
    min-height: 44px;
  }

  .MuiTabs-flexContainer {
    gap: 8px;
    justify-content: space-around;

  }

  .MuiTabs-scrollButtons {
    color: rgba(255, 255, 255, 0.7);

    &.Mui-disabled {
      opacity: 0.24;
    }
  }
}